:root{  
  --debug: solid 2px red;  
}

body {  
  background-color: #006a00;
  overflow: hidden;
  position: relative;
  user-select: none;
}

#app {
  position: relative;  
}

#tracks {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.track {
  overflow: hidden;
  position: absolute;
  background: #b97a04;
  user-select: none;
}

.entity {
  position: absolute;  
  z-index: 20;
  font-size: 32px;
  margin-top: -24px;
  margin-left: -8px;
}

#forceRender {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  border-radius: 10px;
}

#inventoryContainer{
  position: absolute;
  display: flex;
  width: 60%;
  height: 10vh;
  min-height: 60px;
  bottom: 2%;
  left: 20%;
  border-radius: 10px;
  background: #ffffff8c;
  overflow-x: scroll;
  z-index: 9999;
}

.inventoryItemContainer{
  min-width: 100px;
  border-right: #ffffff9f 1px solid;
  display: flex;
  font-size: 36px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: move;  
}

.inventoryItemContainer:hover{
  background: #ffffff56;
}

.pet{
  position: absolute;
  font-size: 36px;
  outline: var(--debug)
}

::-webkit-scrollbar {  
  border-radius: 25px;
  height: 10px;
  background: #ffffff9f; /* make scrollbar transparent */
}

::-webkit-scrollbar-thumb {
  background: #073800;  
  border-radius: 25px;
}