body {  
  background-color: #006a00;
  overflow: hidden;
  position: relative;
}

#app {
  position: relative;  
}

#tracks {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.track {
  overflow: hidden;
  position: absolute;
  background: #b97a04;
  user-select: none;
}

.entity {
  position: absolute;  
  z-index: 20;
  font-size: xx-large;
  background-color: red;
}

#forceRender {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 9999;
  padding: 36px;
  border-radius: 10px;
}